IaC/terraform/ex01/.terraform.lock.hcl
IaC/terraform/ex01/terraform.tfstate
IaC/terraform/ex01/.terraform/providers/registry.terraform.io/hashicorp/aws/4.37.0/windows_386/terraform-provider-aws_v4.37.0_x5.exe
IaC/terraform/ex01/terraform.tfstate.backup
IaC/terraform/vpc/.terraform.lock.hcl
IaC/terraform/vpc/.terraform.tfstate.lock.info
IaC/terraform/vpc/terraform.tfstate
IaC/terraform/vpc/.terraform/providers/registry.terraform.io/hashicorp/aws/4.37.0/windows_386/terraform-provider-aws_v4.37.0_x5.exe
IaC/terraform/vpc/terraform.tfstate.backup
IaC/terraform/ex02/.terraform.lock.hcl
IaC/terraform/ex02/.terraform.tfstate.lock.info
IaC/terraform/ex02/terraform.tfstate
IaC/terraform/ex02/terraform.tfstate.backup
IaC/terraform/ex02/.terraform/modules/modules.json
IaC/terraform/ex02/.terraform/providers/registry.terraform.io/hashicorp/aws/4.37.0/windows_386/terraform-provider-aws_v4.37.0_x5.exe
IaC/terraform/ex03/.terraform.lock.hcl
IaC/terraform/ex03/terraform.tfstate
IaC/terraform/ex03/terraform.tfstate.backup
IaC/terraform/ex03/.terraform/providers/registry.terraform.io/hashicorp/aws/4.37.0/windows_386/terraform-provider-aws_v4.37.0_x5.exe
IaC/terraform/exec01/.terraform.lock.hcl
IaC/terraform/exec01/.terraform/providers/registry.terraform.io/hashicorp/aws/4.37.0/windows_386/terraform-provider-aws_v4.37.0_x5.exe
IaC/terraform/ex04/.terraform.lock.hcl
IaC/terraform/ex04/terraform.tfstate
IaC/terraform/ex04/.terraform/providers/registry.terraform.io/hashicorp/aws/4.37.0/windows_386/terraform-provider-aws_v4.37.0_x5.exe
IaC/terraform/exec01/.terraform/modules/modules.json
IaC/terraform/ex04/terraform.tfstate.backup
IaC/terraform/ex05/.terraform.lock.hcl
IaC/terraform/ex05/terraform.tfstate
IaC/terraform/ex05/terraform.tfstate.backup
IaC/terraform/ex05/.terraform/providers/registry.terraform.io/hashicorp/aws/4.37.0/windows_386/terraform-provider-aws_v4.37.0_x5.exe
IaC/terraform/exec01/terraform.tfstate
IaC/terraform/exec01/terraform.tfstate.backup
IaC/terraform/ex06/.terraform.lock.hcl
IaC/terraform/ex06/terraform.tfstate
IaC/terraform/ex06/terraform.tfstate.backup
IaC/terraform/ex06/.terraform/providers/registry.terraform.io/hashicorp/aws/4.37.0/windows_386/terraform-provider-aws_v4.37.0_x5.exe
code-workspace.code-workspace
IaC/terraform/ex06/.terraform/providers/registry.terraform.io/hashicorp/null/3.2.0/windows_386/terraform-provider-null_v3.2.0_x5.exe
IaC/terraform/ex07/ec01.pem
IaC/terraform/ex07/.terraform/providers/registry.terraform.io/hashicorp/aws/4.37.0/windows_386/terraform-provider-aws_v4.37.0_x5.exe
IaC/terraform/ex07/.terraform.lock.hcl
IaC/terraform/ex06/ec01.pem
.gitignore
IaC/terraform/ex07/terraform.tfstate.backup
IaC/terraform/ex07/terraform.tfstate
IaC/terraform/ex06/.terraform.tfstate.lock.info
IaC/Ansible/3tir/env_db_host.yaml
IaC/Terrform+Ansible/final/3tier/env/test/.terraform/providers/registry.terraform.io/hashicorp/aws/4.38.0/linux_amd64/terraform-provider-aws_v4.38.0_x5
IaC/Terrform+Ansible/final/3tier/env/test/.terraform/providers/registry.terraform.io/hashicorp/aws/4.38.0/windows_386/terraform-provider-aws_v4.38.0_x5.exe
IaC/Terrform+Ansible/final/3tier/env/test/.terraform/providers/registry.terraform.io/hashicorp/null/3.2.0/linux_amd64/terraform-provider-null_v3.2.0_x5
IaC/Terrform+Ansible/final/3tier/env/test/.terraform/providers/registry.terraform.io/hashicorp/null/3.2.0/windows_386/terraform-provider-null_v3.2.0_x5.exe
IaC/Terrform+Ansible/final/3tier/env/test/terraform.tfstate.backup
IaC/Terrform+Ansible/final/3tier/env/test/terraform.tfstate
IaC/Terrform+Ansible/final/3tier/env/test/.terraform/modules/modules.json
IaC/Terrform+Ansible/final/3tier/env/test/.terraform.lock.hcl
